---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const title = "Spring Cleaning Guide";
const days = await getCollection("days");
---

<Layout title={title}>
   <h1>{title}</h1>
   <>A simple guide to help you spring clean your home.</>
   <ul>
      {
         days.map((day) => (
            <li>
               <a class="hover:underline" href={`/${day.id}`}>
                  {day.data.title}
               </a>
            </li>
         ))
      }
   </ul>
</Layout>
